/* Start Variables */
:root {
  --CTA-text: hsl(356, 100%, 66%);
  --CTA-hover: hsl(355, 100%, 74%);
  --headings: hsl(208, 49%, 24%);
  --mainTransitionDuration: 0.3s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Ubuntu", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings);
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Global Components */

/* End Global Components */
/* Start Header */
header {
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  z-index: 4;
}
header .container {
  display: flex;
  align-items: center;
  min-height: 130px;
}
header .container .logo {
  width: 80px;
  order: 1;
}
header .container .logo img {
  width: 100%;
}
header .container nav {
  order: 2;
  flex: 2.2;
}
header .container nav ul {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}
header .container nav ul li {
  margin-left: 30px;
}
header .container nav ul li:last-child {
  position: relative;
}
header .container nav ul li:last-child .drop-down-menu {
  width: 150px;
  padding: 20px;
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  top: 100%;
  left: -10px;
  z-index: 100;
}
header .container nav ul li:last-child .drop-down-menu ul {
  flex-direction: column;
  margin: 0;
}
header .container nav ul li:last-child .drop-down-menu ul li {
  margin: 0;
}
header .container nav ul li:last-child .drop-down-menu ul li a {
  color: black;
}
header .container nav ul li:last-child .drop-down-menu ul li a:hover {
  text-decoration: none;
  font-weight: 700;
}
header .container nav ul li:last-child:hover .drop-down-menu {
  display: block;
}
header .container nav ul li a {
  position: relative;
}
header .container nav ul li a::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 7px;
  top: 48%;
  transform: translateY(-50%);
  right: -15px;
  background-image: url(../images/icon-arrow-light.svg);
  background-repeat: no-repeat;
}
header .container nav ul li a:hover {
  text-decoration: underline;
}
header .container .login {
  order: 3;
  flex: 0.8;
}
header .container .login ul {
  display: flex;
  justify-content: flex-end;
}
header .container .login ul li {
  margin-left: 30px;
}
header .container .login ul li a:hover {
  text-decoration: underline;
}
header .container .login ul li:last-child a {
  background-color: white;
  color: var(--CTA-text);
  border-radius: 25px;
  font-weight: bold;
  padding: 10px 25px;
  transition-duration: var(--mainTransitionDuration);
}
header .container .login ul li:last-child a:hover {
  background-color: var(--CTA-hover);
  color: white;
  text-decoration: none;
}
header .container .bars {
  display: none;
  order: 4;
}
header .container .bars i {
  color: white;
  font-size: 30px;
}
@media (max-width: 991px) {
  header .container .login {
    flex: 1.2;
  }
}
@media (max-width: 767px) {
  header .container nav,
  header .container .login {
    display: none;
  }
  header .container .bars {
    display: block;
    margin-left: auto;
  }
  header .container .bars:hover + nav {
    display: block;
  }
  header .container nav ul {
    background-color: var(--CTA-hover);
    position: absolute;
    border-radius: 5px;
    right: 10px;
    top: calc(100% + 20px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 0;
    margin: 0;
  }
  header .container nav ul li {
    margin: 0;
  }
}
/* End Header */
/* Start Landing Section */
.landing {
  padding-top: 130px;
  padding-bottom: 50px;
  background-image: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    65%,
    hsl(353, 100%, 62%)
  );
  position: relative;
  overflow: hidden;
  font-family: "Overpass", sans-serif;
  color: white;
  border-bottom-left-radius: 100px;
}
.landing .overlay {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 91%;
  top: -850px;
  left: 0;
  background-image: url(../images/bg-pattern-intro.svg);
}
.landing .overlay img {
  max-width: 170%;
}
@media (max-width: 991px) {
  .landing .overlay {
    top: -550px;
  }
}
@media (max-width: 767px) {
  .landing .overlay {
    top: -400px;
  }
  .landing .overlay img {
    max-width: 513%;
    margin-left: -563px;
  }
}
.landing .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
.landing .container h1 {
  color: white;
  font-size: 50px;
  margin-top: 80px;
  text-align: center;
}
.landing .container p {
  font-size: 20px;
  margin-top: 0px;
  text-align: center;
  line-height: 1.5;
}
.landing .container ul {
  display: flex;
}
.landing .container ul li {
  padding: 20px;
}
.landing .container ul li a {
  border-radius: 25px;
  font-weight: 600;
  padding: 10px 15px;
  border: white 1px solid;
  transition-duration: var(--mainTransitionDuration);
}
.landing .container ul li:first-child a {
  background-color: white;
  color: var(--CTA-text);
}
.landing .container ul li:first-child a:hover {
  background-color: var(--CTA-hover);
  border-color: transparent;
  color: white;
}
.landing .container ul li:last-child a {
  background-color: transparent;
  color: white;
}
.landing .container ul li:last-child a:hover {
  background-color: white;
  color: var(--CTA-text);
}
@media (max-width: 767px) {
  .landing .container h1 {
    font-size: 38px;
  }
}
/* End Landing Section */
/* Start Intro Section */
.intro {
  padding-top: 100px;
  padding-bottom: 60px;
  font-family: "Overpass", sans-serif;
}
.intro .content {
  position: relative;
  overflow: hidden;
}
.intro .content h2 {
  font-size: 30px;
  text-align: center;
}
.intro .content .image {
  position: relative;
  width: 80%;
  margin: auto;
}
.intro .content .image img {
  width: 100%;
}
.intro .content .image .desktop {
  display: none;
}
.intro .content .text {
  width: 80%;
  margin: 10% auto auto;
  text-align: center;
}
.intro .content .text .exp:first-child {
  margin-bottom: 60px;
}
.intro .content .text .exp h3 {
  font-weight: 700;
  font-size: 27px;
}
.intro .content .text .exp p {
  color: hsl(207, 13%, 34%);
  line-height: 1.8;
}
@media (min-width: 768px) {
  .intro .content .image {
    width: 700px;
    position: absolute;
    top: 0;
    right: -230px;
  }
  .intro .content .image .desktop {
    display: block;
  }
  .intro .content .image .mobile {
    display: none;
  }
  .intro .content .text {
    text-align: left;
    margin-left: 40px;
    width: 38%;
  }
}
@media (min-width: 992px) {
  .intro .content {
    padding-bottom: 110px;
  }
  .intro .content .text {
    margin-left: 130px;
    width: 40%;
  }
}
/* End Intro Section */
/* Start bg Section */
.bg {
  background-color: hsl(238, 21%, 28%);
  color: white;
  font-family: "Overpass", sans-serif;
  position: relative;
  height: 300px;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
}
.bg .bg-img {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.bg .bg-img::after {
  position: absolute;
  content: url(../images/bg-pattern-circles.svg);
  top: -600px;
  left: -260px;
  z-index: 1;
}
.bg .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.bg .content .image {
  position: relative;
  width: 50%;
  height: 380px;
  z-index: 2;
  overflow: visible;
  margin-left: 100px;
}
.bg .content .image img {
  position: absolute;
  top: -50px;
  left: 0;
  width: 400px;
}
.bg .content .text {
  position: relative;
  z-index: 2;
  width: 50%;
  margin-top: -80px;
  margin-left: -80px;
}
.bg .content .text h2 {
  color: white;
  font-size: 35px;
}
.bg .content .text p {
  line-height: 1.8;
  font-size: 15px;
  width: 75%;
}
@media (max-width: 991px) {
  .bg {
    height: 350px;
  }
  .bg .content .image {
    margin-left: 10px;
  }
  .bg .content .text {
    margin-left: 80px;
    margin-top: -25px;
  }
}
@media (max-width: 767px) {
  .bg {
    height: 540px;
    margin-top: 140px;
  }
  .bg .bg-img {
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
  }
  .bg .bg-img::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .bg .content {
    flex-direction: column;
  }
  .bg .content .image {
    margin: auto;
    width: fit-content;
    width: 100%;
  }
  .bg .content .image img {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: -160px;
  }
  .bg .content .text {
    margin: auto;
    text-align: center;
    width: 80%;
    margin-top: -160px;
  }
  .bg .content .text p {
    width: 100%;
  }
}
/* End bg Section */
